/**
 * Standard Hydra styles
 */

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    position: absolute;
    cursor: default;
}

html, body {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    margin: 0;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-align: center;
    box-pack: center;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}

#hydra-stage {
    width: 100%;
    -webkit-box-flex: 1; /* Stretch to full height */
    -moz-box-flex: 1;
    box-flex: 1;
    min-height: 368px; /*416px;*/
    overflow: hidden;
    position: relative;
}

#hydra-fps {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: white;
    text-shadow: black 0px 0px 3px;
}

.button {
    cursor: pointer;
}

.button-down {
    margin-top: 2px;
}

.scene {
    width: 100%;
    height: 100%;
}

/**
 * Game specific styles
 */

.ad-banner {
    min-width: 320px;
    min-height: 48px;
    position: relative;
}

@font-face {
    font-family: segao;
    src: url(segao.ttf);
}

.scene-playing {
    background-color: white;
}

.tree {
    width: 64px;
    height: 64px;
    background-image: url(tree.png);
    top: -58px;
    left: -32px;
}

.ramp {
    width: 54px;
    height: 32px;
    /*background-color: blue;*/
    background-image: url(ramp.png);
    top: -27px;
    left: -16px;
}

.flag-left {
    width: 54px;
    height: 54px;
    background-image: url(flag-left.png);
    top: -42px;
    left: -27px;
}

.flag-right {
    width: 54px;
    height: 54px;
    background-image: url(flag-right.png);
    top: -42px;
    left: -27px;
}

.player {
    width: 48px;
    height: 60px;
    left: -24px;
    top: -44px;
    background-image: url(player.png);
}

.scene-splash {
    background: black;
}

.combo {
    font-family: segao;
    z-index: 1000;
    top: 0;
    width: 100%;
    text-align: center;
    top: 50%;
}

/*.sign {*/
/*    position: relative;*/
/*}*/

/*.sign-body {*/
/*    background-color: #964b00;*/
/*    color: white;*/
/*    padding: 8px;*/
/*    border: 1px solid black;*/
/*    position: relative;*/
/*}*/

/*.sign-legs {*/
/*    width: 100%;*/
/*    position: relative;*/
/*}*/

/*.sign-leg-left {*/
/*    background-color: #964b00;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/
/*.sign-leg-right {*/
/*    background-color: #964b00;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    position: relative;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

.candy {
    width: 34px;
    height: 34px;
    left: -17px;
    top: -17px;
    background-image: url(candy.png);
}

.life {
    height: 16px;
    background-image: url(heart.png);
    z-index: 1000;
    left: 8px;
    top: 8px;
}

.pause-button {
    width: 32px;
    height: 32px;
    background-image: url(pause.png);
    z-index: 1000;
    top: 0;
    right: 0;
}

.mute-button {
    background-image: url(volume-max.png);
    width: 32px;
    height: 32px;
    top: 0;
    right: 36px;
    z-index: 1000;
}

.mute-button.button-down {
    background-image: url(volume-mute.png);
}


.speed {
    font-family: segao;
    /*font-size: 18pt;*/
    z-index: 1000;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.score {
    font-family: segao;
    /*font-size: 18pt;*/
    left: 64px;
    top: 8px;
    z-index: 1000;
}

.sign {
    color: white;
    border-width: 12px 16px 21px;
    -moz-border-image: url(sign.png) 12 16 21 stretch;
    -webkit-border-image: url(sign.png) 12 16 21 stretch;
    border-image: url(sign.png) 12 16 21 stretch;
}

.paused {
    font-family: segao;
    font-size: 18pt;
    top: 50%;
    width: 100%;
    color: red;
    text-align: center;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu * {
    position: static;
}

.main.menu {
    top: 0;
}
.gameover.menu {
    top: 40%;
}

.gameover-title {
    font-family: segao;
    font-size: 18pt;
}

.gameover-body {
  text-shadow: white 0 0 3px;
  background-color: rgba(0,0,0,0.1);
  color: #bf1700;
}

/** From https://github.com/ubuwaits/css3-buttons */
.action-button {
  margin: 10px auto;

  background: #c63929;
  background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  border: 1px solid #951100;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  width: 150px;
}

.action-button:hover {
  background: #cb0500;
  background: -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
}

.action-button.button-down {
  background: #b30300;
  background: -moz-linear-gradient(0% 100% 90deg, #700d00 0%, #9c1500 50%, #ad3224 50%, #d43c28 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}

.avalanche {
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-box-shadow: white 0 0 100px 40px;
    -moz-box-shadow: white 0 0 100px 40px;
    -ms-box-shadow: white 0 0 100px 40px;
    -o-box-shadow: white 0 0 100px 40px;
    box-shadow: white 0 0 100px 40px;
}

.credit {
    right: 16px;
    bottom: 0;
    line-height: 32px;
    color: gray;
}

.logo {
    width: 320px;
    height: 200px;
    background-image: url("logo.png");
    border: 1px solid #eee;
    margin: 0 auto 50px auto;
}
