/**
 * Standard Hydra styles
 */

html, body {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-family: helvetica, sans-serif;
    margin: 0;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    background-color: black;
}

#hydra-stage {
    /*width: 100%;*/
    /*height: 100%;*/
    min-height: 416px;
    min-width: 320px;
    overflow: hidden;
    position: relative;
}

#hydra-stage * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    position: absolute;
    white-space: nowrap;
    cursor: default;
}

#hydra-fps {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: white;
    text-shadow: black 0px 0px 3px;
}

.button {
    cursor: pointer;
}

.button-down {
    margin-top: 2px;
}

.scene {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve3d;
    -ms-transform-style: preserve3d;
    -o-transform-style: preserve3d;
    -moz-transform-style: preserve3d;
    transform-style: preserve3d;
}

/**
 * Game specific styles
 */

.ad-banner {
    min-width: 320px;
    min-height: 48px;
    position: relative;
}

.robot {
    width: 24px;
    height: 32px;
    left: -12px;
    top: -16px;
    background-image: url(robot.png);
}

.shockwave {
    width: 96px;
    height: 96px;
    left: -48px;
    top: -48px;
    border-radius: 100px 100px;
    border: 4px solid #fbeb59;
}

.fireball {
    width: 80px;
    height: 81px;
    left: -40px;
    top: -40.5px;
    background-image: url(fireball.png);
}

.status {
    color: black;
    font-family: joystix;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
}

.status.win {
    color: #00ff00;
}

.score {
    text-align: right;
    width: 320px;
    background: rgba(0,0,0,0.2);
    font-family: joystix;
}

.crater {
    width: 80px;
    height: 80px;
    background-image: url(crater.png);
    left: -40px;
    top: -40px;
    opacity: 0.2;
}

.scene-continue {
    background: black;
    color: white;
}

.scene-mainmenu {
    background-color: white;
}

.summary {
    font-family: joystix;
    padding-bottom: 16px;
}

.summary.win {
    color: #0f0;
}

.summary.loss {
    color: red;
}

.menu {
    width: 100%;
    text-align: center;
}

.menu * {
    position: static !important;
}

.continue.menu {
    top: 30%;
}

.main.menu {
    top: 50%;
}

.action-button {
    background: #eee;
    background: -moz-linear-gradient(0% 100% 90deg, #bfbfbf, #eee);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bfbfbf));
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 5px #f5f5f5;
    -webkit-box-shadow: inset 0 0 5px #f5f5f5;
    box-shadow: inset 0 0 5px #f5f5f5;
    color: #333;
    font-family: "lucida grande", sans-serif;
    font-weight: bold;
    line-height: 2;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0px #eee;
    width: 150px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    font-family: joystix;
}

.action-button:hover {
    background: #dfdfdf;
    background: -moz-linear-gradient(0% 100% 90deg, #aaa, #dfdfdf);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#aaa));
    -moz-box-shadow: inset 0 0 5px #e5e5e5;
    -webkit-box-shadow: inset 0 0 5px #e5e5e5;
    box-shadow: inset 0 0 5px #e5e5e5;
}

.action-button.button-down {
    background: #bfbfbf;
    background: -moz-linear-gradient(0% 100% 90deg, #eee, #bfbfbf);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfbfbf), to(#eee));
    margin-bottom: 14px;
}

@font-face {
    font-family: joystix;
    src: url(joystix.ttf);
}

.marquee {
    pointer-events: none;
    font-family: joystix;
    width: 320px;
    text-align: center;
}

.scene-orientation {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
}

.scene-orientation :first-child {
    position: static !important;
    margin-top: 100px;
}

.credit {
    right: 16px;
    bottom: 0;
    line-height: 32px;
    color: gray;
}

.mute-button {
    background-image: url(volume-max.png);
    width: 32px;
    height: 32px;
    left: 4px;
    top: 382px;
}

.mute-button.button-down {
    background-image: url(volume-mute.png);
}

.logo {
    width: 320px;
    height: 200px;
    background-image: url(logo.png);
}
